---
import styles from './Footer.module.css';
---
<footer class={styles.siteFooter}>
	<p class={styles.footerText}>© 2026 Luz de Quinto</p>
	<div class={styles.footerLinks}>
		<a href=".">Inicio</a>
		<a href="contacto">Contacto</a>
	</div>
</footer>
